/* --------------------------
  Main Styles
--------------------------- */

*, *:before, *:after { 
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Merriweather", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5;
}

header {
 	color: white;
 	background-color: #213141;
 	padding: 10px 0;
 	text-align: center;
}

.intro {
	text-align: center;
	margin: 0 10px;
	padding-bottom: 20px;
 	border-bottom: 2.5px solid #213141;

}



input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	background: rgba(226, 223, 223, 0.801);
 	border: none;
	font-size: 16px;
	height: auto;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #b2b7bb;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 15px;
	border-radius: 5px;
}


fieldset {
	border: none;
}
.contact {
	border-bottom: 2px solid black;
}

form {
	border-top: 1px solid black;
	margin: 2px 10px 0 10px;
}

legend {
	font-size: 1.2em;
 	font-weight: bold;
 	margin-bottom: 15px;
 	padding-top: 20px;
}

label {
 	display: block;
 	font-size: 14px;
 	margin-bottom: 20px;
}

label.format {
  font-weight: 300;
   display: inline;
}

#javascript_news,
#plain_text {
	margin-bottom: 2em;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border: 1.5px solid rgb(115, 115, 129);
  background-color: rgb(239, 235, 243);
}


#zipcode {
  width: 50%;
}

button {
	display: block;
	text-align: center;
	align-items: center;
	margin: 0 auto;
	font-size: 20px;
	width: 90%;
	background-color: #22a2a8;
	color: white;
	padding: 15px 0;
	border: 1px solid black;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin-bottom: 20px;
	border-radius: 5px;

}

footer {
	text-align: center;
	font-size: 14px;
	margin: 40px 0 50px 0;
	font-style: italic;

}

/* --------------------------
  Media queries
--------------------------- */
@media (min-width: 768px) {
  .intro,
  form {
    max-width: 60%;
    margin: 2px auto;
  }
  .intro p {
    margin: 0 40px;
  }
 
  fieldset div {
    display: flex;
    justify-content: left ;
  }
  label {
    width: 40%;
    padding-top: 15px;
    margin-right: 25px;
    
  }
  .zipcode {
    width: 26.5%;
  }
  #zipcode {
    width: 35%;
  }
  .news {
    width:100%

  }

}